---
import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

let posts = [];

contentfulClient.getEntries({
    content_type: 'concertDate'
})
.then(response => {
    posts = response.items
})
.catch(console.error)
---
<button id="fetchButton">Click</button>

<body>
    {posts.map(post => (
        <article>
            <h2>{posts.fields.title}</h2>
            <p>{posts.fields.date}</p>
        </article>
    ))}
</body>
