---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

interface ConcertDate {
  contentTypeId: "concertDate",
  fields: {
    Venue: EntryFieldTypes.Text
    Images: EntryFieldTypes.AssetLink,
    Date: EntryFieldTypes.Date,
  }
}

const entries = await contentfulClient.getEntries<ConcertDate>({
  content_type: "concertDate",
});

---
<Layout>
<button id="fetchButton">Click</button>

<body>
  <h1>This is the skunchbucket</h1>
    {entries.items.map(item => (
        <article>
            <h1>This is a test</h1>
            <h2>{item.fields.Venue}</h2>
            <p>{item.fields.Date}</p>
            <img src={item.fields.Images} alt="image"/>
        </article>
    ))}
</body>
</Layout>