---
import Layout from '../layouts/Layout.astro'
import { createClient } from 'contentful'
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

const client = createClient({
    space: process.env.CONTENTFUL_SPACE_API_KEY,
    accessToken: CONTENTFUL_DELIVERY_API,
})

client.getEntries()
    .then ((response) => {
        posts = response.items;
        console.log(response.items)
    })
    .catch(console.error)

export { posts }
---
<Layout>
<button id="fetchButton">Click</button>

<body>
    {posts.map(post => (
        <article>
            <h1>This is a test</h1>
            <h2>{post.fields.title}</h2>
            <p>{post.fields.date}</p>
        </article>
    ))}
</body>
</Layout>