---
// Import the necessary sorceries
import fetch from 'node-fetch';
import Layout from '../layouts/Layout.astro'

// Define an asynchronous function to fetch the data
let posts;
const fetchData = async () => {
  const response = await fetch('/.netlify/functions/contentful-fetch');
  if (!response.ok) {
    throw new Error('Network response was not ok ' + response.statusText);
  }
  const data = await response.json();
  posts = data;
};

// Call the function to ensure the data is fetched
fetchData();
export { posts };
---
<Layout>
<button id="fetchButton">Click</button>

<body>
    {posts.map(post => (
        <article>
            <h1>This is a test</h1>
            <h2>{post.fields.title}</h2>
            <p>{post.fields.date}</p>
        </article>
    ))}
</body>
</Layout>