---
import { createClient } from 'contentful'
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

const client = createClient({
    space: process.env.CONTENTFUL_SPACE_API_KEY,
    accessToken: CONTENTFUL_DELIVERY_API,
})

client.getEntries()
    .then ((response) => {
        console.log(response.items)
    })
    .catch(console.error)
---
<button id="fetchButton">Click</button>

<body>
    {posts.map(post => (
        <article>
            <h1>This is a test</h1>
            <h2>{posts.fields.title}</h2>
            <p>{posts.fields.date}</p>
        </article>
    ))}
</body>
