---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/bangers'
import '@fontsource-variable/roboto-slab'
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Skunch</title>
	</head>
	<ViewTransitions />
	<body class="font-roboto-slab bg-off-white min-h-screen px-4">
        <Nav />
		<div class="pt-12 md:pt-0">
			<slot />
		</div>
        <Footer />
	</body>
</html>
