---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/bangers'
import '@fontsource-variable/roboto-slab'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Skunch</title>
	</head>
	<body class="font-roboto-slab bg-off-white min-h-screen md:px-8">
        <Nav />
		<slot />
        <Footer />
	</body>
</html>
