---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/bangers'
import '@fontsource-variable/roboto-slab'
import { ViewTransitions } from 'astro:transitions'
import { slide } from 'astro:transitions'
---

<html class="global" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Skunch</title>
		<ViewTransitions />
	</head>
	<body class="font-roboto-slab bg-off-white min-h-screen px-4">
        <Nav transition:persist />
		<div transition:animate={slide({duration: '1s'})} class="pt-12 md:pt-0">
			<slot />
		</div>
        <Footer />
	</body>
</html>
<style>
	.global {
  cursor: url("/cursor.png"), auto;
  cursor: pointer, none;
}

a:hover, button:hover, input[type="submit"]:hover, select:hover, etc {
  cursor: url('/path-to-your/custom-pointer-cursor.png'), pointer;
}*, *:hover {
	cursor: url("/cursor.png"), none !important;
}

</style>